.spinning-wheel {
    display: flex;
    justify-content: center;
    /* Horizontally center the chart */
    align-items: center;
    /* Vertically center the chart */
    /* height: 90vh; */
    /* Make the container take the full viewport height */
    /* background-color: #f0f0f0; */
    /* Optional: background color for better visibility */
}

.pie-container {
    width: 40%;
    background-color: rebeccapurple;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
    /* Adjust the width as needed */
    /* max-width: 500px; */
    /* Optional: set a maximum width */
}

.pie-chart {
    width: 100%;
    height: auto;
}

.spin-btn {
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 26%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600; */
    /* position: cem; */
    margin-top: 50px;
    /* left: 50%; */
    color: rgb(255, 123, 150);
    font-size: 17px;
    line-height: 17px;
    padding: 12px;
    border-radius: 50%;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: radial-gradient(rgb(240, 252, 171) 0%, rgb(139, 194, 231) 82%, rgb(76, 240, 255) 100%);
    /* box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; */
    border: 2px solid rgb(80, 164, 28);
    display: inline-block;


}

.spin-btn:hover {
    background: #1C6EA4;
}

.spin-btn:active {
    background: #144E75;
}