@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
/* 
body {
    font-family: "Paytone One", sans-serif;
} */

.user_profile_pic {
    width: 200px;
    height: 200px;
    margin-top: 30px;

}

.welcome_msg {
    margin-top: 2%;
    font-size: 38px;
    font-family: "Paytone One", sans-serif;
}

.change_page {
    height: 70px;
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    font-family: "Paytone One", sans-serif;
    font-size: 30px;
    border-radius: 5px;
    background-color: #FAE785;
    border-color: #FAE785;
}