.app_header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dcdcdc;
    height: 20vh;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.app_header>form {
    width: 50%;
}

.task_input {
    font-size: 20px;
    font-weight: 500;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 15px;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.task_input::placeholder {
    color: #686868;
}

.task_form_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_status {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #999;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: 0 5px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.task_submit {
    font-size: 16px;
    font-weight: 500;
    background-color: #FAE785;
    color: #000;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}