.app_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.app_header>form {
    width: 100%;
}

.task_input {
    font-size: 16px;
    font-weight: 500;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 15px;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.task_input::placeholder {
    color: #686868;
}

.task_form_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_status {
    margin-left: 10px;
    margin-right: 15px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    text-align: center;
}

.task_submit {
    font-size: 16px;
    font-weight: 500;
    background-color: #FAE785;
    color: #000;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.deadline_picker {
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-left: 10px;
}

.status_select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags_select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_input {
    /* text-align: sta; */
    font-size: 16px;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    height: 80px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    resize: none;
}

.description_input::placeholder {
    color: #686868;
}

.add_tags_button {
    font-size: 16px;
    height: 35px;
    width: 30px;
    color: #000;
    border-radius: 5px;
    padding: 3px 5px;
    margin-left: 10px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    background: #ffff;
    color: #000;
    border: 1px solid #999;
}


li {
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    margin: 10px;
    /* margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px; */
}

.remove-button {
    margin-left: 10px;
    border: none;
    background-color: #ffff;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.edit_tag_input {
    font-size: 16px;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 15px;
    width: 100px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.add_tag_input {

    font-size: 16px;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 5px;
    padding: 8px 12px;
    margin-left: 15px;
    width: 100px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.tag_display {
    font-size: 16px;
}

.app_header>p {
    padding: 10px 0px;
    font-weight: 300;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}