.task_card {
    width: 100%;
    height: 100px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 19px;
    margin: 15px 0px;
}

.task_text {
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.task_deadline {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.task_delete {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.task_card_bottom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_delete:hover {
    background-color: #ebebeb;
}

.delete_icon {
    width: 20px;
    transition: all 0.3s ease-in-out;
}

.task_delete:hover .delete_icon {
    opacity: 80%;
}

.task_card_last_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task_card_tags {
    display: flex;
    align-items: center;
    justify-content: left;
}