.user_profile_pic {
    width: 200px;
    height: 200px;
    margin-top: 30px;

}

.welcome_msg {
    margin-top: 5%;
    font-size: 38px;
}

.change_page {
    height: 70px;
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    font-family: "Paytone One", sans-serif;
    font-size: 30px;
    border-radius: 5px;
    background-color: #FAE785;
    border-color: #FAE785;
}